<section class="doctor_section layout_padding" data-aos="fade-up">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Principales empleos</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-container">
            <%= image_tag("Epam.png", alt: "Texto alternativo", class: "img-responsive") %>
          </div>
          <div class="detail-box">
            <h5>Ingeniero de Sistemas</h5>
            <h6>EPAM</h6>
          </div>
          <div class="social_box">
            <a href="#" class="btn btn-sm btn-primary btn-block secondary-button">Ver detalles</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="images/d2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Administrador Empresas</h5>
            <h6>POLITI</h6>
          </div>
          <div class="social_box">
            <a href="#" class="btn btn-sm btn-primary btn-block secondary-button">Ver detalles</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="images/d3.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>Comunicadora social</h5>
            <h6>Caracol</h6>
          </div>
          <div class="social_box">
            <a href="#" class="btn btn-sm btn-primary btn-block secondary-button">Ver detalles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="department_section layout_padding" data-aos="fade-up">
  <div class="department_container">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Mira los demás empleos activos</h2>
      </div>
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre del empleo</th>
                  <th>Empresa</th>
                  <th>Modalidad</th>
                  <th>Ciudad</th>
                  <th>Salario</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ingeniero de sistemas</td>
                  <td>EPAM</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec sapien ut magna ultricies ultricies.</td>
                </tr>
                <tr>
                  <td>Administrador de empresas</td>
                  <td>POLITI</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec sapien ut magna ultricies ultricies.</td>
                </tr>
                <!-- Agrega más filas según sea necesario -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    // Inicializar la librería AOS
    AOS.init({
      duration: 800, // Duración de la animación en milisegundos
      once: true // La animación solo se activará una vez
    });
  </script>






