<div class="container  ">
  <div class="row">
    <div class="col-md-6 ">
      <div class="img-box">
        <%= image_tag("AboutUs.png", alt: "Texto alternativo") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            Sobre <span>nosotros</span>
          </h2>
        </div>
        <p>
          Somos una empresa de servicios en Psicología Organizacional, Educativa y Clínica, orientada a proponer soluciones efectivas y a mejorar la calidad de vida de las personas y/o de las organizaciones de acuerdo con el ámbito en el cual estemos acompañando. Generamos la construcción de modelos adaptados a las necesidades particulares de nuestros clientes, ofreciendo resultados competentes que les permitan alcanzar resultados sostenibles en el largo plazo. 
        </p>
       <%= link_to "Mira mas", abouts_path %>
      </div>
    </div>
  </div>
</div>