<div class="container">
  <div class="heading_container heading_center">
    <h2>
      Couchig
    </h2>
    <p class="col-md-10 mx-auto px-0">
      resumen
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mx-auto">
      <div class="box">
        <div class="img-box">
          <img src="images/d1.jpg" alt="">
        </div>
        <div class="detail-box">
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <h5>
            Elina Josh
          </h5>
          <h6 class="">
            Doctor
          </h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mx-auto">
      <div class="box">
        <div class="img-box">
          <img src="images/d2.jpg" alt="">
        </div>
        <div class="detail-box">
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <h5>
            Adam View
          </h5>
          <h6 class="">
            Doctor
          </h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mx-auto">
      <div class="box">
        <div class="img-box">
          <img src="images/d3.jpg" alt="">
        </div>
        <div class="detail-box">
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <h5>
            Mia Mike
          </h5>
          <h6 class="">
            Doctor
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-box">
    <%= link_to "Mira mas", coachings_path %>
  </div>
</div>