<div class="department_container">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Mira Nuestros servicios</h2>
      <p>Pasa el mouse sobre las tarjetas para descubrir más. Haz clic en una opción para conocer todos los detalles.</p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="box card" data-url="/url-coaching">
          <div class="img-box">
            <%= image_tag("Coaching.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Atracción y caloración de talentos</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-valoracion">
          <div class="img-box">
            <%= image_tag("Seleccion.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Valoración de potencial</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-capacitacion">
          <div class="img-box">
            <%= image_tag("Training.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Capacitación y desarrollo</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-estudios">
          <div class="img-box">
            <%= image_tag("Organization.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Estudios de Satisfacción y Clima Laboral</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row covered-row justify-content-center" style="display: none;">
      <!-- Contenido de la fila cubierta -->
      <div class="col-md-3">
        <div class="box card" data-url="/url-coaching">
          <div class="img-box">
            <%= image_tag("Coaching.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Coaching </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-programas-salud">
          <div class="img-box">
            <%= image_tag("Seleccion.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Programas de Salud y Seguridad en el trabajo. </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-programas-salud">
          <div class="img-box">
            <%= image_tag("Seleccion.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Psicología Clínica. </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box card" data-url="/url-programas-salud">
          <div class="img-box">
            <%= image_tag("Seleccion.png", alt: "") %>
          </div>
          <div class="detail-box">
            <h5>Psicología Educativa.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <button class="btn btn-primary" id="ver-mas">Ver más</button>
    </div>
  </div>
</div>


<style>
  .covered-row {
    display: none;
    transition: display 0.5s ease; /* Transición suave con duración de 0.5 segundos */
  }
  .box {
    transition: transform 0.3s ease;
  }

  .box:hover {
    transform: scale(1.05); /* Amplía el card al pasar el mouse */
  }

  .covered-row {
    display: none;
    transition: display 0.5s ease; /* Transición suave con duración de 0.5 segundos */
  }
</style>

<script>
  document.getElementById('ver-mas').addEventListener('click', function() {
    var coveredRow = document.querySelector('.covered-row');
    if (coveredRow.style.display === 'none') {
      coveredRow.style.display = 'flex';
      this.textContent = 'Ver menos'; 
    } else {
      coveredRow.style.display = 'none'; 
      this.textContent = 'Ver más'; 
    }
  });

  document.querySelectorAll('.card').forEach(function(card) {
    card.addEventListener('click', function() {
      window.location.href = card.getAttribute('data-url'); // Redirige a la URL especificada en el atributo data-url
    });
  });
</script>
