<div class="container">
  <div class="heading_container">
    <h2>
      Comunicate con nosotros
    </h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form_container contact-form">
        <form action="">
          <div class="form-row">
            <div class="col-lg-6">
              <div>
                <input type="text" placeholder="Tu nombre" />
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <input type="text" placeholder="Tu numero" />
              </div>
            </div>
          </div>
          <div>
            <input type="email" placeholder="Tu Correo electronico" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="En que podemos ayudarte?" />
          </div>
          <div class="btn_box">
            <button>
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map"></div>
    </div>
  </div>
</div>


<script>
  function initMap() {
    // Coordenadas de la ubicación que deseas mostrar en el mapa
    var myLatLng = {lat: 40.7128, lng: -74.0060}; // Por ejemplo, Nueva York

    // Crear un mapa en el elemento con id "map"
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 15 // Puedes ajustar el nivel de zoom según tus necesidades
    });

    // Crear un marcador en la ubicación especificada
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Ubicación de tu empresa' // Puedes cambiar el texto del título si lo deseas
    });
  }
</script>
