<div class="container">
  <div class="heading_container heading_center ">
    <h2>
      Testimonios
    </h2>
  </div>
  <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-11 col-lg-10 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="images/client.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="name">
                  <h6>
                    Alan Emerson
                  </h6>
                </div>
                <p>
                  Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                </p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-11 col-lg-10 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="images/client.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="name">
                  <h6>
                    Alan Emerson
                  </h6>
                </div>
                <p>
                  Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                </p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-11 col-lg-10 mx-auto">
            <div class="box">
              <div class="img-box">
                <img src="images/client.jpg" alt="" />
              </div>
              <div class="detail-box">
                <div class="name">
                  <h6>
                    Alan Emerson
                  </h6>
                </div>
                <p>
                  Enim consequatur odio assumenda voluptas voluptatibus esse nobis officia. Magnam, aspernatur nostrum explicabo, distinctio laudantium delectus deserunt quia quidem magni corporis earum inventore totam consectetur corrupti! Corrupti, nihil sunt? Natus.
                </p>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel_btn-container">
      <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>