<% if !current_user.present? %>
  <div class="hero_area">
    <div class="hero_bg_box">
      <%= image_tag("Banner3.png", alt: "Texto alternativo") %>
    </div>
  </div>

  <section class="about_section layout_margin-bottom" data-aos="fade-up">
    <%= render "about_us" %>
  </section>

  <section class="doctor_section layout_padding" data-aos="fade-up">
    <%= render "employes" %>
  </section>

  <section class="contact_section layout_padding" data-aos="fade-up">
    <%= render "get_touch" %>
  </section>

  <section class="client_section layout_padding-bottom" data-aos="fade-up">
    <%= render "testimonio" %>
  </section>
<% else %>
<% end %>