<section class="about_section layout_padding" data-aos="fade-up">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Te ayudamos en la gestión y desarrollo del potencial humano
            </h2>
          </div>
          <p>
            Somos una empresa de servicios en Psicología Organizacional, Educativa y Clínica, orientada a proponer soluciones efectivas y a mejorar la calidad de vida de las personas y/o de las organizaciones de acuerdo con el ámbito en el cual estemos acompañando. Generamos la construcción de modelos adaptados a las necesidades particulares de nuestros clientes, ofreciendo resultados competentes que les permitan alcanzar resultados sostenibles en el largo plazo. 
          </p>
          <p>
            Teniendo presente que cada organización y persona es un mundo único, nuestra propuesta de valor está encaminada a enfocarnos  en los procesos y necesidades particulares de cada uno  para de esta manera ofrecer un acompañamiento con  calidad, en  tiempos de respuesta oportunos y  a costos razonables.
          </p>

        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 ">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              VISION</span>
            </h2>
          </div>
          <p>
           Ser reconocidos a nivel global como una firma de consultoría comprometida en apoyar procesos que potencialicen el talento de las personas en el ámbito empresarial, personal y educativo. En el año 2029 AdsumGT será reconocida como líder en Colombia y tendrá desarrollos a nivel internacional. 
          </p>
        
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="">
        </div>
      </div>
      
      <div class="col-md-6 ">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              MISIÓN</span>
            </h2>
          </div>
          <p>
           En AdsumGT trabajamos por el desarrollo de las organizaciones y de las personas, siendo motivadores de cambio de actitudes y comportamientos direccionados a la mejora continua. Somos un aliado estratégico de nuestros clientes, generando relaciones de sinergia a través de la construcción de modelos adaptados a las necesidades particulares de cada organización y cumpliendo con altos estándares de calidad. 	 	 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>