<!DOCTYPE html>
<html>
  <head>
    <title>AdsumWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDc3LRykbLB-y8MuomRUIY0qH5S6xgBLX4' %>

    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'bootstrap.css' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- Font Awesome -->
    <%= stylesheet_link_tag 'font-awesome.min.css' %>

    <!-- Custom styles -->
    <%= stylesheet_link_tag 'style.css' %>

    <!-- Responsive styles -->
    <%= stylesheet_link_tag 'responsive.css' %>

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- owl slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzXjisqz4swVKvjVUcwZv6xIzT-E7eq_c&callback=initMap" async defer></script>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    





  </head>

  <body>
    <% if !current_user.present? %>
        <header class="header_section bg-color-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            ADSUM
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <%= link_to "Inicio", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Quienes Somos", abouts_path, class: "nav-link #{'active' if current_page?(abouts_path)}" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Equipo de Trabajo", work_teams_path, class: "nav-link #{'active' if current_page?(work_teams_path)}" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Empleos", employees_path, class: "nav-link #{'active' if current_page?(employees_path)}" %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Contactanos", contact_us_path, class: "nav-link #{'active' if current_page?(contact_us_path)}" %>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    <% else %>
        <header class="header_section bg-color-header">
          <div class="container">
              <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="index.html">
                      <span>
                          ADSUM Admin
                      </span>
                  </a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <%= link_to "Inicio", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
                      </li>
                      <li class="nav-item">
                        <%= link_to "Empleos", abouts_path, class: "nav-link #{'active' if current_page?(abouts_path)}" %>
                      </li>
                      <% if user_signed_in? %>
                        <li class="nav-item">
                          <%= form_tag(destroy_user_session_path, method: :delete) do %>
                            <%= submit_tag "Cerrar sesión", class: "nav-link btn btn-danger" %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
              </nav>
          </div>
      </header>
    <% end %>


    <%= yield %>
  </body>
    <% if !current_user.present? %>
      <footer class="footer_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 footer_col">
              <div class="footer_contact">
                <h4>Reach at..</h4>
                <div class="contact_link_box">
                  <a href="#">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Location</span>
                  </a>
                  <a href="tel:+011234567890">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Call +01 1234567890</span>
                  </a>
                  <a href="mailto:demo@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>demo@gmail.com</span>
                  </a>
                </div>
                <div class="footer_social">
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mx-auto footer_col">
              <div class="footer_link_box">
                <h4>Links</h4>
                <div class="footer_links">
                  <a class="active" href="/">Home</a>
                  <a href="/about">About</a>
                  <a href="/departments">Departments</a>
                  <a href="/doctors">Doctors</a>
                  <a href="/contact">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  <% end %>
</html>

<script>
    // Inicializar la librería AOS
  AOS.init({
    duration: 800, // Duración de la animación en milisegundos
    once: true // La animación solo se activará una vez
  });
</script>
